.week {
    margin: 0;
    background: 8B4F00;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

body {
background: 8B4F00;
height: 100%;
width: 100%;
}
