.week {
    margin: 0;
    color: #FFFFFF;
    position: absolute;
    font-size: 175px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

body {
background: #00456E;
height: 100%;
width: 100%;
}
